[submodule ".registry"]
	path = .registry
	url = https://github.com/gbeurier/gbeurier.r-universe.dev
	branch = HEAD
[submodule "dagml"]
	path = dagml
	url = https://github.com/GBeurier/dag-ml
	branch = v0.3.38
	subdir = bindings/r
[submodule "dagmldata"]
	path = dagmldata
	url = https://github.com/GBeurier/dag-ml-data
	branch = v0.2.13
	subdir = crates/dag-ml-data-r
[submodule "n4m"]
	path = n4m
	url = https://github.com/GBeurier/nirs4all-methods
	branch = main
	subdir = bindings/r/n4m
[submodule "nirs4all"]
	path = nirs4all
	url = https://github.com/GBeurier/nirs4all-r
[submodule "nirs4alldatasets"]
	path = nirs4alldatasets
	url = https://github.com/GBeurier/nirs4all-datasets
	branch = v0.3.8
	subdir = bindings/r/nirs4alldatasets
[submodule "nirs4allformats"]
	path = nirs4allformats
	url = https://github.com/GBeurier/nirs4all-formats
	branch = v0.2.11
	subdir = bindings/r/nirs4allformats
[submodule "nirs4allio"]
	path = nirs4allio
	url = https://github.com/GBeurier/nirs4all-io
	branch = v0.2.6
	subdir = bindings/r
[submodule "pls4all"]
	path = pls4all
	url = https://github.com/GBeurier/nirs4all-methods
	subdir = bindings/r/pls4all
