[submodule ".registry"]
	path = .registry
	url = https://github.com/gbeurier/gbeurier.r-universe.dev
	branch = HEAD
[submodule "dagmldata"]
	path = dagmldata
	url = https://github.com/GBeurier/dag-ml-data
	subdir = crates/dag-ml-data-r
[submodule "n4m"]
	path = n4m
	url = https://github.com/GBeurier/nirs4all-methods
	subdir = bindings/r/n4m
[submodule "nirs4all"]
	path = nirs4all
	url = https://github.com/GBeurier/nirs4all-core
	subdir = bindings/r
[submodule "nirs4alldatasets"]
	path = nirs4alldatasets
	url = https://github.com/GBeurier/nirs4all-datasets
	subdir = bindings/r/nirs4alldatasets
[submodule "nirs4allformats"]
	path = nirs4allformats
	url = https://github.com/GBeurier/nirs4all-formats
	subdir = bindings/r/nirs4allformats
[submodule "nirs4allformats.lite"]
	path = nirs4allformats.lite
	url = https://github.com/GBeurier/nirs4all-formats
	subdir = bindings/r/nirs4allformatslite
[submodule "nirs4allio"]
	path = nirs4allio
	url = https://github.com/GBeurier/nirs4all-io
	subdir = bindings/r
[submodule "pls4all"]
	path = pls4all
	url = https://github.com/GBeurier/nirs4all-methods
	subdir = bindings/r/pls4all
